.form-container,
.card {
   max-width: 1200px;
   margin: auto;
}

.p-inputnumber input {
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
}

.result {
   min-height: 129px;
   line-height: 1.5;
   letter-spacing: 0.3px;
}

.result strong {
   color: var(--primary-color);
   font-size: 1.5rem;
}

.clean {
   padding-top: 2.7rem;
}
